ul {
    background-color: #FFB600;
    padding: 10px;
    font-family: "Arial";
    display: "inline";
}

ul li {
    display: inline;
    margin: 0 2rem;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}