---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro'
import Header from '../components/Header.astro';
---

<Layout title="exonbyte.dev">
	<Main>
	<Header />
	<H1 text="exonbyte" />
	</Main>

</div>	

</Layout>